<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STA</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bar.css">

</head>
<body>

<div class="menu">
    <div class="nav">
        <ul>
            <li><a href="/register">注册</a></li>
            <li><a href="/login">登陆</a></li>
            <li><a href="/challenges">免试题目</a></li>
            <li><a href="/">首页</a></li>
        </ul>
    </div>
</div>
{% block body %}
{% endblock %}
</body>
{% block script %}

{% endblock %}
</html>